#contact{
    width: 75%;
    background-color: beige;
}

body{
    background-image: url('../imgs/manger.jpg');
    background-repeat: no-repeat;

}

li{
    display: inline-block; 
    margin-right: 10px;
    color: #778899;
    list-style:none;
    cursor:pointer;
}

.menu{
    padding: 0;
    display: table;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
 }

.tab_presentation{
    background-color: darkgray;
    padding: 15px;
    margin-top: 150px;
    opacity: 0.9;
}

legend{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

hr{
    color: white;
}