#contact{
    width: 75%;
    background-color: beige;
}

body{
    background-image: url('../imgs/manger.jpg');
    background-repeat: no-repeat;

}

li{
    display: inline-block; 
    margin-right: 10px;
    color: #778899;
    list-style:none;
    cursor:pointer;
}

.menu{
    padding: 0;
    display: table;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
 }

.tab_presentation{
    background-color: darkgray;
    padding: 15px;
    margin-top: 150px;
    opacity: 0.9;
}

legend{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1{
    color: white;
    font-family: 'Oswald', sans-serif;
}

#description{
    color: aliceblue;
}

.nom{
    height: 50px;
}

.prenom{
    height: 50px;
}

.email{
    height: 50px;
}

.message{
    height: 50px;
}


table{
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.input_message{
    text-align: start;
}