li{
    display: inline-block; 
    margin-right: 10px;
    color: #778899;
    list-style:none;
    cursor:pointer;
}

.menu{
   padding: 0;
   display: table;
   margin: 0 auto;
   font-family: 'Courier New', Courier, monospace;
}

body{
    background-image: url('../imgs/manger.jpg');
    background-repeat: no-repeat;

}

h1{
    color: white;
    font-family: 'Oswald', sans-serif;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: aquamarine;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

footer{
    color: white;
}

